h1.mainHeader{
     text-align: center;
     margin-bottom: 50px;
 }

table#mainTable{
    border-collapse: collapse;
    height: 250px;
}

#mainTable {
    text-align: center;
}

#mainTable tr {
    background-color: indianred;
    border-top: 1px solid grey;
    color: white;
    font-weight:bold;
    background-color: #32383e;
    font-family: Roboto;
}
#mainTable tr:hover {
    background-color: #3D72A4;
}
#mainTable th {
    background-color: indianred;
}
#mainTable th, #mainTable td {
    padding: 3px 5px;
    line-height: 10px;
    border: 1px solid white;
}
#mainTable td:hover {
    cursor: pointer;
}

#mainTable th:hover {
    cursor: pointer;
}

#mainTable th{
    padding: 20px;
    background-color: black;
    color: #fff;
}
#formDiv{
    display: none;
    background-color: #32383e;
}
#formDiv label{
    color: white;
}

#elementRow{
    padding-bottom: 60px;
}

i.selected{
    color: #3D72A4;
}

.help-block{
    color: red;
}